// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-artists > main {
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-small) {
  }
}

.artists-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, minmax(20%, 200px));
  grid-template-rows: repeat(12, auto);
  margin: 0;

  @media screen and (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(20, auto);
  }

  @media screen and (max-width: 510px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(30, auto);
  }

  li {
    line-height: 19px;
    margin-bottom: 8px;
    margin-right: 16px;
    min-height: 38px;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }
}

.artist-content-area {
  padding-right: 2rem;
}

@media screen and (max-width: $breakpoint-medium) {
  .artist-content-area {
    grid-column: 1 / span 2;
    grid-row: third-line / 4;
    padding-right: 0;
  }
  .artist-image-area {
    grid-column: 1 / span 2;
  }
}

.carousel-grid-icon {
  span {
    align-self: center;
    margin-left: .5rem;
  }
}

.grid-grid {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .grid-grid-item {
    display: flex;
    flex: 0 0 24%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #c8c8c8;
    margin: $space-x-small;
    height: 200px;

    a {
      text-align: center;
    }

    img {
      max-width: 90%;
      max-height: 180px;
    }
  }

  @media screen and (max-width: $breakpoint-large) {
    .grid-grid-item {
      flex: 0 0 32%;
      height: 220px;

      img {
        max-height: 200px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    .grid-grid-item {
      height: 160px;

      img {
        max-height: 140px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    .grid-grid-item {
      flex: 0 0 47%;
      height: 140px;

      img {
        max-height: 120px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tiny) {
    .grid-grid-item {
      flex: 0 0 100%;
      height: 200px;

      img {
        max-height: 180px;
      }
    }
  }
}