// -----------------------------------------------------------------------------
// This file contains styles that are specific to the artist page and subpages.
// -----------------------------------------------------------------------------

.page-artists > main {
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-small) {
  }
}

.artists-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, minmax(20%, 200px));
  grid-template-rows: repeat(12, auto);
  margin: 0;

  @media screen and (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(20, auto);
  }

  @media screen and (max-width: 510px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(30, auto);
  }

  li {
    line-height: 19px;
    margin-bottom: 8px;
    margin-right: 16px;
    min-height: 38px;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }
}

.artist-content-area {
  padding-right: 2rem; }

@media screen and (max-width: $breakpoint-medium) {
  .artist-content-area {
    grid-column: 1 / span 2;
    grid-row: third-line / 4;
    padding-right: 0; }
  .artist-image-area {
    grid-column: 1 / span 2; }
}

.carousel-grid-icon {
  span {
    align-self: center;
    margin-left: .5rem; }
}

.page-artist-thumb {}

.thumb-image {
  height: 75vh; }

.thumb-arrows {
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1; }
.thumb-arrow {
  position: absolute;
  /*top: 50%;
  margin-top: -15px;*/
  display: block;
  width: /*12px*/50%;
  height: /*30px*/100%;
  opacity: 0.5; }
.thumb-arrow::before,
.thumb-arrow::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 15px;
  background-color: rgba(0,0,0,0.6); }
.thumb-arrow::before {
  left: 0;
  top: 50%;
  margin-top: -15px;
  -webkit-transform: skew(145deg, 0deg);
  -ms-transform: skew(145deg, 0deg);
  transform: skew(145deg, 0deg); }
.thumb-arrow::after {
  left: 0;
  top: 50%;
  margin-top: 0px;
  -webkit-transform: skew(-145deg, 0deg);
  -ms-transform: skew(-145deg, 0deg);
  transform: skew(-145deg, 0deg); }
.thumb-arrow-prev {
  left: 20px;
  right: auto; }
.thumb-arrow-next {
  right: 20px;
  left: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.thumb-arrow-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; }

.thumb-close {
  width: 30px;
  height: 30px;
  z-index: 2;
  position: absolute;
  right: 12px;
  top: 0;
  display: block; }
.thumb-close::after {
  content: '';
  height: 30px;
  border-left: 4px solid #b3b3b3;
  position: absolute;
  transform: rotate(45deg);
  left: 14px; }
.thumb-close::before {
  content: '';
  height: 30px;
  border-left: 4px solid #b3b3b3;
  position: absolute;
  transform: rotate(-45deg);
  left: 14px; }