// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-exhibitions {
  main {
    a:link,
    a:visited {
      text-decoration: none;
    }
  }
}

.gallery-caption-positioned {
  position: relative;

  .carousel-grid-icon {
    position: absolute;
    right: 0;
    top: -.5rem;
  }
}