// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home > main {
  display: grid;
  grid-gap: $space-large $space-medium;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-small) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news-grid-feature {
  grid-column: span 3;
  height: 338px;
  background: grey;

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 4;
  }
}

.news-grid-item {
  img {
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 2;
    }

  @media screen and (max-width: $breakpoint-tiny) {
    grid-column: span 4;
  }
}

.news-grid-item-title {
  margin-bottom: $space-x-small;
}