// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-news > main {
  margin-bottom: $space-large;

  a:link,
  a:visited {
    text-decoration: none; }
}

.news-content-area {
  padding-right: 2rem;
}

.select-news {
  width: 10rem;
}
.select-news::after {
  content: "\02039 \0203A";
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 1rem;
  top: .5rem;
  right: .35rem;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

@media screen and (max-width: $breakpoint-medium) {
  .news-content-area {
    padding-right: 0;
  }
}

@media screen and (max-width: $breakpoint-tiny) {
  .news-header {
    flex-flow: column;
  }
  .news-header h2 {
    margin-bottom: 1rem;
  }
  .select-news {
    margin-bottom: 2rem;
  }
}