// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-news > main {
  margin-bottom: $space-large;

  a:link,
  a:visited {
    text-decoration: none; }
}