// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-shop > main {
  margin-bottom: $space-large;
}

.shop-wrapper {
  max-width: 32rem;
}

.basket {
  padding-top: 3px;
}

.basket,
.shop-title {
  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 1 !important;
  }
}