// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of lissongallery.com
// -----------------------------------------------------------------------------

#nav {
  font-size: 18px;

  a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    padding: $space-x-small 0;
  }
  a:hover, a:active, a:focus {
    text-decoration: underline;
  }
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: $breakpoint-large) {
  .menu {
    text-align: right;
    height: 0;
    padding-top: 66px;
    padding-right: 24px;
    transition: height .2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 34px 24px 30px;
    position: relative;
    user-select: none;
  }
  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .menu-icon .navicon:before {
    top: 5px;
  }
  .menu-icon .navicon:after {
    top: -5px;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    height: 310px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}