// -----------------------------------------------------------------------------
// This file contains all styles related to the grid of the lissongallery.com
// -----------------------------------------------------------------------------

body {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-areas: ". header header header"
                      "aside main main main"
                      "aside main main main"
                      "aside footer footer footer";
  grid-template-columns: minmax(100px, 220px) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);

  > * {
    border: 1px solid yellow;
  }

  > header {
    grid-area: header;
  }

  > aside {
    grid-area: aside;
  }

  > main {
    grid-area: main;
  }

  > footer {
    grid-area: footer;
  }
}