// -----------------------------------------------------------------------------
// This file contains all styles related to the grid of the lissongallery.com
// -----------------------------------------------------------------------------

body {
  display: grid;
  grid-template-areas: "header header header header"
                      "aside main main main"
                      "aside main main main"
                      "aside footer footer footer";

  > * {
    border: 1px solid yellow;
  }

  > header {
    grid-area: header;
  }

  > aside {
    grid-area: aside;
  }

  > main {
    grid-area: main;
  }

  > footer {
    grid-area: footer;
  }
}