// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#brand-link {
  padding: $space-medium 0;
  display: block;

  img {
    height: auto;
    max-width: 310px;
    display: block;
  }

  @media screen and (max-width: $breakpoint-small) {
    margin-right: $space-medium;

    img {
      max-width: 100%;
    }
  }
}