// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.link-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;

  &.link-icon-grid {
    background-image: url(../assets/icon-grid.svg);
  }
}