// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.no-bullets {
  list-style: none;
  padding-left: 0;
}

.list {
  li:not(:last-of-type) {
    margin-bottom: .25rem;
  }
}

.inline-list {
  li {
    display: inline;
  }
}

.list-icons {
  a {
    padding: $space-small 0 $space-small $space-medium;
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;

    &.list-icon-link {
      background-image: url(../assets/icon-link@2x.png);
    }

    &.list-icon-file {
      background-image: url(../assets/icon-file@2x.png);
    }
  }
}