// -----------------------------------------------------------------------------
// This file contains all styles related to the masonry grid component.
// -----------------------------------------------------------------------------

.masonry-grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  column-count: 3;
    -moz-column-gap: $space-medium;
    -webkit-column-gap: $space-medium;
  column-gap: $space-medium;

  .masonry-item {
    break-inside: avoid;
    margin-bottom: $space-medium;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }

  }

  @media screen and (max-width: $breakpoint-medium) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
    column-count: 2;
      -moz-column-gap: $space-medium;
      -webkit-column-gap: $space-medium;
    column-gap: $space-medium;
  }

  @media screen and (max-width: $breakpoint-tiny) {
      -moz-column-count: 1;
      -webkit-column-count: 1;
    column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
    column-gap: 0;
    margin-bottom: $space-x-large;
  }

}

.masonry-grid-horizontal {
  // References: 
  // https://css-tricks.com/adaptive-photo-layout-with-flexbox/
  // https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit 
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  a {
    height: 40vh;
    flex-grow: 1;
    margin: 1rem;
  }
  a:last-child { flex-grow: 10; }
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
  } 

  @media (max-aspect-ratio: 1/1) {
    a { height: 30vh; }
  }

  @media (max-height: 480px) {
    a { height: 80vh; }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      flex-direction: row;
  
    a {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}