// -----------------------------------------------------------------------------
// This file contains all styles related to the news grid component.
// -----------------------------------------------------------------------------

/*
 * Smaller components
 */

.news-grid-item-title {
  margin-top: 0;
  margin-bottom: $space-small; }

/*
 * Borders
 */

.border-top {
  border-top: 1px solid #231f20; }

.border-bottom {
  border-bottom: 1px solid #231f20; }

/*
 * Full-width blocks
 */

.span-4 {
  grid-column: span 4; }

.span-3 {
  grid-column: span 3; }

.span-2 {
  grid-column: span 2; }

/*
 * 5 columns
 */

.news-grid-5up {
  overflow: hidden; /* For IE */
  clear: both; /* For IE */
  display: grid;
  grid-gap: $space-medium $space-medium;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(2, 1fr); }

  @media screen and (max-width: $breakpoint-tiny) {
    grid-template-columns: 1fr; }
}

.news-grid-5up-item {
  width: 19%; /* For IE */
  float: left; /* For IE */
  margin-right: 1%; /* For IE */
  margin-bottom: 20px; /* For IE */

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $space-small; }
  p {
    margin: 0; }
  p+p {
    margin-top: $space-small; }

  @supports (display:grid) { /* To cancel IE rules */
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/*
 * 4 columns
 */

.news-grid-4up {
  overflow: hidden; /* For IE */
  clear: both; /* For IE */
  display: grid;
  grid-gap: $space-large $space-medium;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(2, 1fr); }

  @media screen and (max-width: $breakpoint-tiny) {
    grid-template-columns: 1fr; }
}

.news-grid-4up-item {
  width: 24%; /* For IE */
  float: left; /* For IE */
  margin-right: 1%; /* For IE */
  margin-bottom: 20px; /* For IE */

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $space-small; }
  p {
    margin: 0; }
  p+p {
    margin-top: $space-small; }

  @supports (display:grid) { /* To cancel IE rules */
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/*
 * 3 columns
 */

.news-grid-3up {
  overflow: hidden; /* For IE */
  clear: both; /* For IE */
  display: grid;
  grid-gap: $space-large $space-medium;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: $space-large;

  @media screen and (max-width: $breakpoint-small) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news-grid-3up-feature {
  grid-column: span 3;

  img {
    width: 100%;
    max-width: 100%; }

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 4;
  }
}

.news-grid-3up-item {
  width: 32%; /* For IE */
  float: left; /* For IE */
  margin-right: 1%; /* For IE */
  margin-bottom: 20px; /* For IE */

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $space-small; }
  p {
    margin: 0;
  }
  p+p {
    margin-top: $space-small;
  }

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 2;
    }

  @media screen and (max-width: $breakpoint-tiny) {
    grid-column: span 4;
  }

  @supports (display:grid) { /* To cancel IE rules */
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.news-grid-3up-focus {
  margin-bottom: 20px; /* For IE */
  grid-column: span 3;
  display: grid;
  grid-gap: $space-medium;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 32%; /* For IE */
    float: right; /* For IE */
    margin-right: 1%; /* For IE */
    grid-column: 2 / 4;

    @supports (display:grid) { /* To cancel IE rules */
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  div {
    width: 66%; /* For IE */
    float: left; /* For IE */
    grid-column: 1 / 2;

    @supports (display:grid) { /* To cancel IE rules */
      width: auto;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 4;

    img {
      grid-column: 1 / 4; }

    div {
      grid-column: 1 / 4; }
  }

  @media screen and (max-width: $breakpoint-tiny) {
    grid-column: span 4;

    img {
      grid-column: 1 / 4; }

    div {
      grid-column: 1 / 4; }
  }

  @supports (display:grid) { /* To cancel IE rules */
    margin-bottom: 0;
  }
}

/*
 * 2 columns
 */

.news-grid-2up {
  overflow: hidden; /* For IE */
  clear: both; /* For IE */
  display: grid;
  grid-gap: $space-medium $space-medium;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: $space-large; }

.news-grid-2up-feature {
  grid-column: span 2;
  height: 338px;
  background: grey; }

.news-grid-2up-item {
  width: 49%; /* For IE */
  float: left; /* For IE */
  margin-right: 1%; /* For IE */
  margin-bottom: 20px; /* For IE */

  img {
    width: 100%;
    max-width: 100%; }

  @media screen and (max-width: $breakpoint-small) {
    grid-column: span 2; }

  @supports (display:grid) { /* To cancel IE rules */
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}