// -----------------------------------------------------------------------------
// This file contains all styles related to the timeline component.
// -----------------------------------------------------------------------------

.timeline-container {
  position: relative; }

.timeline-hor {
  padding-top: 76px;
  padding-bottom: $space-medium;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid $dark-grey;
  overflow: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  li {
    position: relative;
    margin-right: $space-medium;
    flex: 0 0 18rem; }

  li::after {
    position: absolute;
    top: -78px;
    left: 0;
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background: $dark-grey; }

  li:last-of-type {
    margin-right: 80px; }

  .timeline-past::before {
    position: absolute;
    top: -52px;
    left: 0;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  .timeline-current::before {
    position: absolute;
    top: -52px;
    left: 0;
    content: "Current";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  .timeline-upcoming::before {
    position: absolute;
    top: -52px;
    left: 0;
    content: "Upcoming";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  .timeline-year {
    position: absolute;
    top: -52px;
    left: 0;
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  img {
    width: 100%; }

  @media screen and (max-width: $breakpoint-medium) {
    li {
      flex: 0 0 12rem; }
  }

  @media screen and (max-width: $breakpoint-small) {
    padding-left: $space-medium;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    border-left: 2px solid $dark-grey;
    margin-left: $space-x-small;
    margin-bottom: $space-large;
    grid-template-columns: 1fr;
    display: grid !important;
    grid-gap: $space-large $space-medium;
    overflow: visible;

    .tag {
      margin-bottom: -1rem;

      &::before,
      &::after {
        display: none; }
    }

    li + li {
      margin-top: $space-medium; }

    li:first-of-type:not(.timeline-upcoming)::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-small; }

    .timeline-year,
    .timeline-past::before,
    .timeline-current::before,
    .timeline-upcoming::before {
      position: relative;
      top: -8px;
      left: initial;
      margin-bottom: $space-small; }

    li::after {
      top: 0;
      left: -26px;
      width: 14px;
      height: 2px; }

    img {
      margin-top: 0;
      margin-bottom: $space-x-small; }
  }

}