// -----------------------------------------------------------------------------
// This file contains all styles related to the timeline component.
// -----------------------------------------------------------------------------

.timeline {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  padding-left: $space-large;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $space-x-small;
  border-left: 2px solid $mid-grey;

  .tag {
    margin-bottom: -1rem;

    &::before,
    &::after {
      display: none;
    }
  }

  li {
    position: relative;
  }

  li::after {
    position: absolute;
    top: $space-x-small;
    left: -3.45rem;
    content: "";
    display: block;
    width: $space-small;
    height: $space-small;
    background: $mid-grey;
    border-radius: $space-small;
  }

  .timeline-upcoming::before {
    position: absolute;
    top: 2px;
    left: -11rem;
    content: "Upcoming";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block;
  }

  .timeline-upcoming + li::before {
    position: absolute;
    top: 2px;
    left: -8rem;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block;
  }

  li:first-of-type:not(.timeline-upcoming)::before {
    position: absolute;
    top: 2px;
    left: -8rem;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block;
  }

  li + li {
    margin-top: $space-large;
  }

  img {
    width: 18rem;
    margin-top: $space-x-small;
  }

  @media screen and (max-width: $breakpoint-large) {
    .timeline-upcoming::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-medium;
    }

    .timeline-upcoming + li::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-medium;
    }
  }

  @media screen and (max-width: $breakpoint-large) {
    padding-left: $space-medium;

    li::after {
      top: 2px;
      left: -1.95rem;
    }
  }

}

