// -----------------------------------------------------------------------------
// This file contains all styles related to the timeline component.
// -----------------------------------------------------------------------------

.timeline-hor {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  margin-top: $space-large;
  margin-bottom: 0;
  border-top: 2px solid $dark-grey;
  overflow: visible;

  li {
    position: relative; }

  li::after {
    position: absolute;
    top: -31px;
    left: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: $dark-grey;
    border-radius: 12px; }

  li::before {
    position: absolute;
    top: -60px;
    left: 0;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  .timeline-upcoming::before {
    content: "Upcoming"; }

  img {
    width: 100%; }

  @media screen and (max-width: $breakpoint-small) {
    padding-left: $space-medium;
    margin-top: 0;
    border-top: 0;
    border-left: 2px solid $dark-grey;
    margin-left: $space-x-small;
    grid-template-columns: 1fr; 

    .tag {
      margin-bottom: -1rem;

      &::before,
      &::after {
        display: none; }
    }

    li + li {
      margin-top: $space-medium; }

    li:first-of-type:not(.timeline-upcoming)::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-small; }

    .timeline-upcoming::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-small; }

    li::after {
      top: 2px;
      left: -31px; }

    img {
      margin-top: $space-x-small;
      margin-bottom: $space-x-small; }
  }

}

.timeline {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  padding-left: $space-large;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 128px;
  border-left: 2px solid $dark-grey;

  .tag {
    margin-bottom: -1rem;

    &::before,
    &::after {
      display: none; }
  }

  li {
    position: relative; }

  li::after {
    position: absolute;
    top: 4px;
    left: -55px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: $dark-grey;
    border-radius: 12px; }

  .timeline-upcoming::before {
    position: absolute;
    top: 2px;
    left: -11rem;
    content: "Upcoming";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  .timeline-upcoming + li::before {
    position: absolute;
    top: 2px;
    left: -8rem;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  li:first-of-type:not(.timeline-upcoming)::before {
    position: absolute;
    top: 2px;
    left: -8rem;
    content: "Past";
    font-family: $brand-font-stack;
    text-transform: uppercase;
    display: block; }

  li + li {
    margin-top: $space-large; }

  img {
    width: 18rem;
    margin-top: $space-x-small; }

  @media screen and (max-width: $breakpoint-medium) {
    margin-left: $space-x-small;
    padding-left: $space-medium;

    .timeline-upcoming::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-medium; }

    .timeline-upcoming + li::before {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: $space-medium; }

    li::after {
      top: 2px;
      left: -31px; }
  }

}

