/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6,
.heading-2 {
  font-family: $brand-font-stack;
  font-weight: 400; }

h1 {
  font-size: 1.625rem;
  line-height: 1.2;
  margin-top: 0; }

h2,
.heading-2 {
  font-size: 1.625rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: $space-medium;

  @media screen and (max-width: $breakpoint-tiny) {
    font-size: 1.375rem;
  }
}

h3,
.heading-3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: $space-small;

  @media screen and (max-width: $breakpoint-tiny) {
  }
}

h4,
.heading-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: $space-small; }

p,
.paragraph {
  font-size: 1rem;
  line-height: 1.25; }

.list-body {
  li {
    margin-bottom: .25rem;

    &:last-of-type {
      margin-bottom: 0; }
  }
}

.emphasis {
  font-style: italic; }

.small {
  font-size: .875rem;

  @media screen and (max-width: $breakpoint-tiny) {
    font-size: 1rem;
  }
}

.font-brand {
  font-family: $brand-font-stack; }

.font-text {
  font-family: $text-font-stack; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.pull-quote-text {
  font-size: 2.75rem;
  line-height: 1.5;

  @media screen and (max-width: $breakpoint-large) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 2rem;
  }
  @media screen and (max-width: $breakpoint-small) {
    font-size: 1.5rem;
  }
}
.pull-quote-text::before {
  content: "\201C";
}
.pull-quote-text::after {
  content: "\201D";
}