/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6,
.heading-2 {
  font-family: $brand-font-stack;
  font-weight: 400; }

h2,
.heading-2 {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: $space-medium; }

h3,
.heading-3 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: $space-small; }

p,
.paragraph {
  font-size: 16px;
  line-height: 1.35; }

.list-body {
  li {
    margin-bottom: .25rem;

    &:last-of-type {
      margin-bottom: 0; }
  }
}

.emphasis {
  font-style: italic;
}

.small {
  font-size: 14px;

  @media screen and (max-width: $breakpoint-tiny) {
    font-size: 16px;
  }
}

.font-brand {
  font-family: $brand-font-stack; }