/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $brand-font-stack;
  font-weight: 400;
}

.font-brand {
  font-family: $brand-font-stack;
}